{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
  <main class="page">
    <section class="belowHero">
      <div class="panel">
        <h1>Security Login</h1>
        <p>Page squelette pour le domaine Security.</p>
      </div>
    </section>
  </main>
{% endblock %}
