security:
    password_hashers:
        App\Entity\User: 'auto'

    role_hierarchy:
        ROLE_ADMIN: [ROLE_ORGANIZER, ROLE_CAPTAIN, ROLE_PLAYER]
        ROLE_CAPTAIN: [ROLE_PLAYER]
        ROLE_ORGANIZER: [ROLE_PLAYER]

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            user_checker: App\Security\UserChecker

            custom_authenticators:
                - App\Security\LoginFormAuthenticator
            entry_point: App\Security\LoginFormAuthenticator

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /

            logout:
                path: app_logout
                target: front_home

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/pages/organizer, roles: ROLE_ORGANIZER }
        - { path: ^/pages/captain, roles: ROLE_CAPTAIN }
        - { path: ^/pages/(dashboard|messages|conversation|notifications|cart|checkout|orders|order-detail|my-teams|my-requests|post-create|profile-edit|password-change|friends)$, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            App\Entity\User:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
