<footer class="footer">
  <div>&copy; 2026 Pulse - Front-office</div>
  <div class="footer__links">
    <a href="{{ path('front_about') }}">A propos</a>
    <a href="{{ path('front_contact') }}">Contact</a>
    <a href="{{ path('front_faq') }}">FAQ</a>
  </div>
</footer>
