<h2>Confirmez votre adresse email</h2>
<p>Bienvenue sur PULSE.</p>
<p>
    Pour activer votre compte, cliquez ici:
    <a href="{{ signedUrl }}">Verifier mon email</a>
</p>
<p>Ce lien expire bientot: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}</p>
