<h2>Reinitialisation du mot de passe</h2>
<p>Vous avez demande la reinitialisation de votre mot de passe.</p>
<p>
  Cliquez sur ce lien pour definir un nouveau mot de passe:
  <a href="{{ resetUrl }}">Reinitialiser mon mot de passe</a>
</p>
<p>Ce lien expire le {{ expiresAt|date('Y-m-d H:i') }}.</p>
