<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}PULSE{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/template_fo/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/template_fo/css/tailwind.css') }}">
        {% endblock %}
    </head>
    <body class="antialiased">
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/template_fo/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>

